[% WRAPPER 'search/results-layout.tt' %]
        [%- IF results.size -%]
            [% WRAPPER 'components/with-pager.tt' search=1 %]
                <table class="tbl">
                    <thead>
                        <tr>
                            <th>[% l('Score') %]</th>
                            <th>[% l('Name') %]</th>
                            <th>[% l('Sort Name') %]</th>
                            <th>[% l('Type') %]</th>
                            <th>[% l('Code') %]</th>
                            <th>[% l('Country') %]</th>
                            <th>[% l('Begin') %]</th>
                            <th>[% l('End') %]</th>
                        </tr>
                    </thead>
                    <tbody>
                        [%- FOR result=results -%]
                        <tr[% ' class="ev"' IF loop.count % 2 == 0 %]>
                            <td>[% result.score %]</td>
                            <td>
                                [% link_entity(result.entity) %]
                            </td>
                            <td>[% result.entity.sort_name %]</td>
                            <td>[% result.entity.l_type_name  %]</td>
                            <td>[% result.entity.format_label_code %]</td>
                            <td>
                                <abbr title="[% result.entity.country.l_name %]">[% result.entity.country.iso_code %]</abbr>
                            </td>
                            <td>[% result.entity.begin_date.format %]</td>
                            <td>
                              [% IF !result.entity.end_date.is_empty;
                                   result.entity.end_date.format;
                                 ELSIF result.entity.ended;
                                   l('[unknown]');
                                 END; -%]
                            </td>
                        </tr>
                        [%- END -%]
                    </tbody>
                </table>
            [% END %]
        [%- ELSE -%]
            <p>[% l('No results found. Try refining your search query.') %]</p>
        [%- END -%]
        <p>
          [% l('Alternatively, you may {uri|add a new label}.', {
                uri => c.uri_for_action('/label/create', {
                         'edit-label.name' => query
                       }) }) %]
        </p> 
[% END %]
